/* Ajuste de estilo personalizado */
#listaTarefas li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #e3f2fd;
  transition: background 0.3s;
}

#listaTarefas li.completed {
  text-decoration: line-through;
  opacity: 0.7;
}

#listaTarefas li button.remover {
  margin-left: 15px; /* espaço entre texto e botão */
  border-radius: 8px;
}
